@using PagedList.Mvc;
@using PagedList;

@model PagedList<Blog_MVC.Models.ApplicationUser>
@{
    ViewBag.Title = "List";
}

<div class="container">
    <div class="well">
        <h1><b>Потребители</b></h1>
        <div class="row">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Идентификационен номер</th>
                    <th>Електронна поща</th>
                    <th>Действия</th>
                </tr>
            </thead>

            <tbody>
               @foreach (var user in Model)
               {
                   if (ViewBag.Admins.Contains(user.UserName))
                   {
                         @:<tr class="info">
                   }
                   else
                   {
                         @:<tr>
                   }

                <td>@user.Id</td>
                    <td>@user.Email</td>
                    <td>
                        @Html.ActionLink("Редакция", "Edit", "User", new { @id = user.Id }, new { @class = "btn btn-info btn-xs" })
                        @Html.ActionLink("Изтриване", "Delete", "User", new { @id = user.Id }, new { @class = "btn btn-danger btn-xs" })
                    </td>
               }

</tbody>
        </table>
        <div class="col-sm-4">
            <div class="left">
                @Html.PagedListPager(Model, page => Url.Action("List", new { page, pageSize = Model.PageSize }))
                Показване на @Model.FirstItemOnPage до @Model.LastItemOnPage от общо @Model.TotalItemCount Статии
            </div>
        </div>
        </div>
    </div>
</div>
