@using PagedList.Mvc;
@using PagedList;

@model PagedList<Blog_MVC.Models.Category>

@{
    ViewBag.Title = "List";
}

<div class="container">
    <div class="well">
        <h1><b>Списък категории</b> @Html.ActionLink("Нова категория", "Create", "Category", null, new { @class = "btn btn-warning" })</h1>
        <div class="row">
            <table class="table table-striped table-hover col-sm-12">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Име на категория</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model)
                    {
                        <tr>
                            <td>@category.Id</td>
                            <td>@category.Name</td>
                            <td>
                                @Html.ActionLink("Редакция", "Edit", "Category", new { @id = category.Id }, new { @class = "btn btn-info btn-xs" })
                                @Html.ActionLink("Изтриване", "Delete", "Category", new { @id = category.Id }, new { @class = "btn btn-danger btn-xs" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="col-sm-4">
                <div class="left">
                    @Html.PagedListPager(Model, page => Url.Action("List", new { page, pageSize = Model.PageSize }))
                    Показване на @Model.FirstItemOnPage до @Model.LastItemOnPage от общо @Model.TotalItemCount Статии
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
