
@{
    ViewBag.Title = "Най-четените 5";
}

<h1>@ViewBag.Title</h1>


    @model List<Blog_MVC.Models.Article>


    <section class="row">
   
        @foreach (var article in Model)
        {
            <div class="col-sm-6">
                <article>
                    <header>
                        <h2 style="width: auto; word-wrap: break-word;">
                            @Html.ActionLink(@article.Title, "Details", "Article", new { @id = article.Id }, null)
                        </h2>
                    </header>
                    
                    <div style="width: auto; word-wrap: break-word;">
                        &emsp; @Html.Raw(article.Body)
                    </div>
                    <br />
                    <footer>
                        <div class="pull-right">
                            <i>
                            Публикувано
                            @if (article.Author != null)
                            {
                                    @:от
                                    <p>
                                        @article.Author.FullName
                                    </p>
                            }
                            на @article.Date</i>
                        </div>
                        <br />
                        <div class="pull-left">
                            @foreach (var tag in article.Tags)
                            {
                                @Html.ActionLink(tag.Name, "Index", "Tag", new { @id = tag.Id }, new { @class = "btn btn-success btn-xs" }) @:&nbsp;
                            }
                        </div>
                    </footer>
                </article>
                </div>
        }
</section>
<hr />
